
:root {
    --highlight-color: steelblue;
}

@media (min-width: 1140px) {
    .container{
        max-width: 1140px;
    }
}

body {
	font-family: 'Lato', sans-serif;
}

.section-header {
    color: var(--highlight-color);
    font-variant: small-caps;
}

#HeaderName {
    color: var(--highlight-color);
}

.job-desc {
    border-left: 1px solid var(--highlight-color);
}

hr {
    height: 2px; 
    color: var(--highlight-color); 
    background: var(--highlight-color);
    opacity: 100;
}

li.job-bullet {
    list-style-type: '\2022';
    padding-left: 10px; 
    margin-bottom: 7px;
}

li.client {
    list-style-type: none;
    margin-left: -10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

li::marker {
    color: var(--highlight-color);
}
