

@media (min-width: 1140px) {
    .container{
        max-width: 1140px;
    }
}

body {
	font-family: 'Lato', sans-serif;
}

.section-header {
    color: slateblue;
    font-variant: small-caps;
}

.job-desc {
    border-left: 2px solid slateblue;
}

hr {
    height: 3px; 
    color: slateblue; 
    background: slateblue;
}

li.job-bullet {
    list-style-type: '\2022';
    padding-left: 10px; 
    margin-bottom: 7px;
}

li.client {
    list-style-type: none;
    margin-left: -10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

li::marker {
    color: slateblue;
}
